fastapi[standard]==0.115.0
langsmith==0.1.128
requests==2.32.3
redis==5.1.0
defusedxml==0.7.1

unstructured-client==0.25.9
unstructured==0.15.14
unstructured[all-docs]
langchain-unstructured==0.1.5

langchain==0.3.1
langchain-community==0.3.1
# langchain-core==0.3.6  # Commented out to allow pip to resolve
langchain-ollama==0.2.2  # Commented out to allow pip to resolve
langchain-openai==0.2.1
langchain-text-splitters==0.3.0
# langchain-unstructured==0.1.5  # Duplicate, already listed above
langdetect==1.0.9
langgraph==0.2.28
langgraph-checkpoint==1.0.11
langgraph-sdk==0.1.51
# langsmith==0.1.128  # Duplicate, already listed above
